<!DOCTYPE html>
<html>
<head>
    <title>Weather Application</title>
</head>
<body>
    <h1>Weather Application</h1>
    <form method="post" action="/weather">
        <label for="location">Enter your location:</label>
        <input type="text" name="location" id="location" required>
        <br><br>
        <button type="button" onclick="getLocation()">Use my current location</button>
        <br><br>
        <input type="submit" value="Predict">
    </form>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const locationInput = document.getElementById("location");
            const geolocationValue = latitude + ", " + longitude;
            locationInput.value = geolocationValue;
        }
    </script>
</body>
</html>
